{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
<!-- Publications section-->
<section class="bg-light border-bottom mt-5" style = "padding : 5vw 0">
	<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class = "row justify-content-center">
					<div class = "col-2">
						<div class = "card d-block">
							<div class = "card-body">
								<a href="{% url 'Post:post' %}">
									<img src={% static "image/example1.jpg"%} alt="..." class = "w-100">
								</a>
							</div>
						</div>
					</div>
					<div class = "col-2">
						<div class = "card d-block">
							<div class = "card-body">
								<a href="#">
									<img src={% static "image/example2.jpg"%} alt="..." class = "w-100">
								</a>
							</div>
						</div>
					</div>
					<div class = "col-2">
						<div class = "card d-block">
							<div class = "card-body">
								<a href="#">
									<img src={% static "image/example3.jpg"%} alt="..." class = "w-100">
								</a>
							</div>
						</div>
					</div>
					<div class = "col-2">
						<div class = "card d-block">
							<div class = "card-body">
								<a href="#">
									<img src={% static "image/example3.jpg"%} alt="..." class = "w-100">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</section>
<!-- Event section-->
<section class="py-5 border-bottom" id="features">
	<div class="container-fluid px-5 my-5">
		<div class="row gx-5 justify-content-center">
			<div class="col-5">
				<div class="d-flex text-dark mb-1 align-items-center" style = "font-size : 2vw">
					<i class="bi bi-caret-right-fill"></i>
					<span class="fw-bolder" style = "padding-left : 15px;">공지사항</span>
				</div>
				<table class = "table" style = "font-size : 1.3vw">
					{% for noti in noti_list %}
					<tr>
						<td><a href="/event/{{ noti.id }}" class = "text-decoration-none text-black">{{noti.subject}}</a></td>
					</tr>
					{% endfor %}
				</table>
				<div class = "d-flex justify-content-end" style = "font-size : 1.3vw">
					<a class="text-decoration-none" href="{% url 'event:event' %}">
						더보기
						<i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>
			<div class="col-5">
				<div class="d-flex text-dark mb-1 align-items-center" style = "font-size : 2vw">
					<i class="bi bi-caret-right-fill"></i>
					<span class="fw-bolder" style = "padding-left : 15px;">뉴스</span>
				</div>
				<table class = "table" style = "font-size : 1.3vw">
					{% for news in news_list%}
					<tr>
						<td><a href="/news/{{ news.id }}" class = "text-decoration-none text-black">{{news.subject}}</a></td>
					</tr>
					{% endfor %}
				</table>
				<div class = "d-flex justify-content-end" style = "font-size : 1.3vw">
					<a class="text-decoration-none" href="{% url 'news:news' %}">
						더보기
						<i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
