{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="bg-dark">
	<div class="container-fluid p-5">
		<div class="row gx-5 py-5 mb-5 justify-content-center">
			<div class = "col-lg-3 d-flex justify-content-center align-items-center">
				<div>
					<a href="{% url 'index:index' %}" class = "d-inline-block fs-1 text-muted">
						<i class = "bi bi-caret-left-fill"></i>
					</a>
					<a href="{% url 'index:index' %}" class = "d-inline-block fs-1 text-muted">
						<i class = "bi bi-house"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-6 d-flex justify-content-center align-items-center">
				<div class="text-center my-5">
					<h1 class="display-5 fw-bolder text-white mb-2 pb-4">공지사항</h1>
				</div>
			</div>
			<div class = "col-lg-3 d-flex justify-content-center align-items-center">
				<div>
					<a href="{% url 'eventNews:news' %}" class = "d-inline-block fs-1 text-muted">
						<i class = "bi bi-newspaper"></i>
					</a>
					<a href="{% url 'eventNews:news' %}" class = "d-inline-block fs-1 text-muted">
						<i class = "bi bi-caret-right-fill"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- List section-->
<div class = "tab-content" id = "pills-tabContent">
	<div class = "tab-pane fade show active container my-5 pt-5" id = "pills-noti" role = "tabpanel" aria-labelledby = "pills-noti-tab">
		<table class="table table-hover my-5">
			<thead>
				<tr class = "fs-3">
					<th class = "col-1 fs-3" scope="col">번호</th>
					<th class = "col-5 fs-3" scope="col">제목</th>
					<th class = "col-3 fs-3" scope="col">작성자</th>
					<th class = "col-3 fs-3" scope="col">작성일자</th>
				</tr>
			</thead>
			<tbody class = "table-group-divider">
				{% for noti in noti_list %}
				<tr class = "fs-4">
					<th scope="row">{{forloop.counter}}</th>
					<td>
						<a href="#" class = "text-decoration-none text-black">{{noti.subject}}</a>
					</td>
					<td>{{noti.writer}}</td>
					<td>{{noti.create_date}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<ul class="pagination justify-content-center pt-5 pb-3">
			<!-- 이전 페이지  -->
			{% if noti_list.has_previous%}
			<li class = "page-item">
				<a class = "page-link" href="?event = {{noti_list.previous_page_number}}">이전</a>
			</li>
			{% else %}
			<li class="page-item disabled">
				<a class="page-link" tabindex = "-1" href="#" aria-disabled="true">이전</a>
			</li>
			{% endif %}
			<!-- 페이지 리스트 -->
			{% for page_number in noti_list.paginator.page_range %}
			{% if page_number >= noti_list.number|add:-5 and page_number <= noti_list.number|add:5 %}
			{% if page_number == noti_list.number %}
			<li class="page-item active" aria-current = "page">
				<a class="page-link" href="?event={{page_number}}">{{page_number}}</a>
			</li>
			{% else %}
			<li class="page-item">
				<a class="page-link" href="?event={{page_number}}">{{page_number}}</a>
			</li>
			{% endif %}
			{% endif %}
			{% endfor %}
			<!-- 다음 페이지 -->
			{% if noti_list.has_next %}
			<li class="page-item">
				<a class="page-link" href="?event={{noti_list.next_page_number}}" aria-label="Next">다음</a>
			</li>
			{% else %}
			<li class="page-item disabled">
				<a class="page-link" tabindex = "-1" aria-disabled="true">다음</a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock %}
